.jumbotron {
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    background-color: #57cc99; 
    padding: 30px 50px; 

    @media screen and(max-width: 768px) {
        padding: 30px 35px; 
    }
    
    @media screen and(max-width: 480px) {
        padding: 20px; 
    }

    .jumbotron-wrapper {
        height: 35vh; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        border: 5px solid var(--rich-black); 
        margin: 0 auto; 

        .jumbotron-main {
            padding: 20px; 

            h1 {
                text-transform: uppercase; 
                font-size: 70px; 
                font-weight: 400; 
                text-align: center; 
                margin-bottom: 20px; 

                @media screen and(max-width: 768px) {
                    font-size: 50px; 
                }
                
                @media screen and(max-width: 480px) {
                    font-size: 30px; 
                }
            }

            p {
                text-transform: lowercase; 
                font-size: 26px; 
                font-weight: 400; 
                text-align: center; 
                margin-bottom: 20px; 
            }
        }
    }
}