.footer {
    display: flex; 
    padding: 0 24px 24px 24px; 
    
    .footer-wrapper {
        display: flex;
        width: 100%; 
        background-color: #57cc99;

        @media screen and(max-width: 768px) {
            flex-direction: column; 
        }

        @media screen and(max-width: 480px) {
            padding: 10px; 
        }

        .footer-left {
            flex: 1; 
            padding: 30px; 
            
            @media screen and (max-width: 768px) {
                padding: 20px 10px 10px 10px; 
            }
            
                
            h3 {
                font-size: 18px; 
                font-weight: 400; 
                margin-bottom: 15px; 
                text-transform: uppercase; 
                
                @media screen and (max-width: 768px) {
                    margin-bottom: 20px; 
                }
            }

            .footer-contact {
                margin-bottom: 20px; 
                display: flex; 
                align-items: center; 
                font-size: 14px; 

                svg {
                    width: 20px; 
                    height: 20px; 
                    margin-right: 10px; 
                }

                &:nth-child(1) {
                    background-color: var(--rich-black); 
                }
    
                @media screen and (max-width: 768px) {
                    margin-bottom: 10px; 
                }
            }
        }

        .footer-center {
            flex: 1; 
            padding: 30px; 

            @media screen and (max-width: 768px) {
                padding: 10px; 
            }
                
            h3 {
                font-size: 18px; 
                font-weight: 400; 
                margin-bottom: 15px; 
                text-transform: uppercase; 
                
                @media screen and (max-width: 768px) {
                    margin-bottom: 20px; 
                }
            }

            .footer-contact {
                margin-bottom: 20px; 
                display: flex; 
                align-items: center; 
                font-size: 14px; 

                svg {
                    width: 20px; 
                    height: 20px; 
                    margin-right: 10px; 
                }
    
                @media screen and (max-width: 768px) {
                    margin-bottom: 10px; 
                }
            }
        }

        .footer-right {
            flex: 1;
            padding: 30px; 

            @media screen and (max-width: 768px) {
                padding: 10px;                 
            }

            h3 {
                font-size: 18px; 
                font-weight: 400; 
                margin-bottom: 15px; 
    
                @media screen and (max-width: 768px) {
                    margin-bottom: 20px; 
                }
            }
    
            p {
                font-size: 14px; 
                margin-bottom: 10px; 
            }

            h5 {
                font-size: 11px; 
                font-weight: 200; 
                margin-bottom: 10px; 
            }
    
            .footer-socialContainer {
                display: flex; 
                
                .footer-social {
                    width: 30px; 
                    height: 30px; 
                    border-radius: 50%; 
                    display: flex; 
                    justify-content: center; 
                    align-items: center; 
                    // potential more social links
                    // flex-direction: column; 
                    // margin-right: 20px; 
        
                    a {
                        color: var(--alice-blue); 
                        display: flex; 
                        justify-content: center; 
                        align-items: center; 

                        svg {
                            width: 20px; 
                            height: 20px; 
                        }
                    }
        
                    // potential more social links
                    &:nth-child(1) {
                        background-color: var(--rich-black); 
                    }
                }
            }
        }
    }
}