.announcement-container {
    height: 40px; 
    background-color: lightgray; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 14px; 
    font-weight: 400; 

    @media screen and (max-width: 768px) {
        display: none; 
    }
}