.nav-limited-container {
    width: 100%; 
    height: 60px; 
    position: sticky; 
    top: 0; 
    z-index: 5; 
    background-color: #fff; 
    padding: 10px 20px; 
}

.nav-limited-wrapper {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid #efefef; 
    
    @media screen and (max-width: 480px) {
        padding: 10px; 
    }
}

.nav-limited-left {
    flex: 1; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 

    svg {
        width: 40px; 
        height: 40px; 
        border-radius: 50%; 
        color: #fff; 
        background-color: #55acee; 
    }
}

.nav-limited-center {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 

    a {
        text-decoration: none; 
        color: black; 

        h1 {
            text-align: center; 
        }
    }

    @media screen and (max-width: 480px) {
        display: none; 
    }
}

.nav-limited-right {
    flex: 1; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 

    ul {
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
}

.nav-limited-menuItem {
    list-style: none; 
    cursor: pointer; 
    margin-left: 30px; 

    a {
        text-decoration: none; 
        color: black; 
    }
}