.navbar {
    width: 100%; 
    position: relative; 
    top: 0;
    z-index: 5; 
    padding: 24px 24px 0 24px; 
    
    .nav-wrapper {
        width: 100%; 
        height: 55px; 
        display: flex; 
        flex-direction: row; 
        background-color: #57cc99; 
        padding: 15px 30px; 
        transition: all 1s ease; 
    
        .nav-left {
            flex: 1; 
            width: 50%; 
            display: flex; 
            justify-content: flex-end; 
            align-items: center; 

            @media screen and(max-width: 1200px) {
                justify-content: center; 
            }

            @media screen and(max-width: 768px) {
                justify-content: flex-start; 
            }

            .logo {
                font-family: "Prata", sans-serif; 
                text-decoration: none; 
                color: var(--raisin-black); 
                font-size: 22px; 
                font-weight: 500; 
            }
        }
    
        .nav-center {
            flex: 1; 
            display: flex; 
            justify-content: center; 
            align-items: center; 

            .nav-links {
                display: flex; 
                justify-content: center; 
                align-items: center; 
                
                li {
                    list-style: none; 
                    margin: 0 15px; 
                    cursor: pointer; 

                    a {
                        text-decoration: none; 
                        color: var(--raisin-black); 
                        font-size: 16px; 
                    }
                }

                @media screen and(max-width: 768px) {
                    display: none; 
                }
            }
        }
    
        .nav-right {
            flex: 1; 
            display: flex; 
            justify-content: flex-start; 
            align-items: center; 
            gap: 15px; 

            @media screen and(max-width: 1200px) {
                justify-content: center; 
            }

            @media screen and(max-width: 768px) {
                justify-content: flex-end; 
            }

            svg {
                display: flex; 
                justify-content: center; 
                align-items: center; 
                height: 25px; 
                width: 25px; 
                color: var(--raisin-black); 
                cursor: pointer; 
            }

            .hamburger {
                display: flex; 
                flex-direction: column; 
                justify-content: space-between; 
                width: 18px;
                height: 15px;
                cursor: pointer; 
    
                span {
                    width: 100%; 
                    height: 2px; 
                    background-color: var(--raisin-black); 
                    transform-origin: left; 
                    transition: all 0.7s ease; 
                }
    
                @media screen and(min-width: 768.9px) {
                    display: none; 
                }
            }
        }

        &.active {
            background-color: #fdffb6; 
            color: var(--alice-blue); 
    
            .hamburger {
    
                span {
                    &:first-child {
                        background-color: var(--raisin-black); 
                        transform: rotate(45deg); 
                    }
    
                    &:nth-child(2) {
                        opacity: 0; // hide color
                    }
    
                    &:last-child {
                        background-color: var(--raisin-black); 
                        transform: rotate(-45deg); 
                    }
                }
            }
        }
    }
}